// Set up a Sass function to create
// buttons easily. Size, color, border,
// shadows, etc.

// tympanus.net/Development/CreativeButtons/

.btn-outline {
  border: 3px solid #fff;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 25px 80px;
  margin: 15px 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-outline-black {
  border: 3px solid #111;
  color: #111;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 25px 80px;
  margin: 15px 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  &:hover {
    border: 3px solid #fff;
    color: #fff;
  }
}

.btn-shadow {
  background: #cb4e4e;
  color: #fff;
  box-shadow: 0 6px #ab3c3c;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 25px 80px;
  margin: 15px 30px;
  -webkit-transition: none;
  transition: none;
  border-radius: 0 0 5px 5px;
  &:hover {
    box-shadow: 0 4px #ab3c3c;
    top: 2px;
  }
}

button:hover {

}

button:focus {
	
}

button:active {

}